In [2]:
#Find or create a variable on which you can merge the "words_df" & "diar_df"
#Is there another output from assembly.ai that could give us something, even if it's not diarization?
import pandas as pd
import numpy as np

In [3]:
words_df = pd.read_csv('words_df.csv')
# diar_df = pd.read_csv('diar_df.csv')
diar_df = pd.read_csv('diar_df_before_groupby.csv')

In [19]:
words_df = words_df.drop(columns = ['Unnamed: 0','Unnamed: 0.1','speaker_start', 'speaker_end', 'speaker'])
# words_df['talk_time_sec'] = words_df['end'] - words_df['start']
# words_df.to_csv('words_df.csv')

In [22]:
print(len(words_df))
print(len(diar_df))
# print(len(df))

330
35

In [48]:
diar_df['serial'] = 123

In [49]:
words_df.head(3)

       text  confidence   end  start  talk_time_sec  serial
0      This        0.91  0.42   0.00           0.42     123
1        is        0.88  0.54   0.43           0.11     123
2  William,        0.86  0.90   0.55           0.35     123

In [51]:
diar_df.head(3)

   Unnamed: 0 label     start       end               Text  serial
0           0     A  0.443844  0.914656  Speaker said this     123
1           1     B  0.914656  4.757094  Speaker said this     123
2           2     A  7.210719  7.629219  Speaker said this     123

In [55]:
test = pd.merge(words_df, diar_df, on = ['serial'])
test.groupby('serial').count()

,text,confidence,end_x,start_x,talk_time_sec,Unnamed: 0,label,start_y,end_y,Text
serial,,,,,,,,,,
123,11550,11550,11550,11550,11550,11550,11550,11550,11550,11550

In [42]:
for i in words_df['end']:
    if i <= .91:
        print(i)

0.42
0.54
0.9

In [46]:
words_df.loc[(words_df['start'] >=0) & (words_df['start'] <=0.92)]

       text  confidence   end  start  talk_time_sec
0      This        0.91  0.42   0.00           0.42
1        is        0.88  0.54   0.43           0.11
2  William,        0.86  0.90   0.55           0.35
3      hey,        0.77  1.08   0.91           0.17

In [37]:
diar_df

    Unnamed: 0 label       start         end               Text
0            0     A    0.443844    0.914656  Speaker said this
1            1     B    0.914656    4.757094  Speaker said this
2            2     A    7.210719    7.629219  Speaker said this
3            3     B    8.754781   17.325594  Speaker said this
4            4     B   17.614156   19.480531  Speaker said this
5            5     B   19.742094   23.442781  Speaker said this
6            6     B   23.719531   25.994281  Speaker said this
7            7     B   26.247406   26.731719  Speaker said this
8            8     B   27.182281   27.825219  Speaker said this
9            9     B   28.125594   32.173906  Speaker said this
10          10     B   32.415219   33.662281  Speaker said this
11          11     B   34.160094   37.703844  Speaker said this
12          12     B   38.179719   43.005969  Speaker said this
13          13     B   43.196656   46.070469  Speaker said this
14          14     B   46.558156   47.084656  Speaker said this
15          15     B   47.395156   49.364469  Speaker said this
16          16     B   49.529844   51.367531  Speaker said this
17          17     B   51.828219   56.403031  Speaker said this
18          18     B   56.706781   58.223844  Speaker said this
19          19     B   58.844844   59.909656  Speaker said this
20          20     B   60.198219   60.790531  Speaker said this
21          21     A   61.018344   66.747406  Speaker said this
22          22     A   67.214844   74.663469  Speaker said this
23          23     A   75.080281   80.463406  Speaker said this
24          24     A   80.778969   82.466469  Speaker said this
25          25     A   82.800594   88.590406  Speaker said this
26          26     A   88.924531   89.270469  Speaker said this
27          27     A   89.449344   90.338656  Speaker said this
28          28     A   90.639031   95.412969  Speaker said this
29          29     A   95.723469   98.615844  Speaker said this
30          30     A   98.820031  102.223719  Speaker said this
31          31     A  102.596656  107.426281  Speaker said this
32          32     A  107.876844  113.580594  Speaker said this
33          33     A  114.194844  118.511469  Speaker said this
34          34     A  118.810156  120.811531  Speaker said this

In [26]:
words_df['end'] - words_df['start']

0      0.42
1      0.11
2      0.35
3      0.17
4      0.32
       ...
325    0.71
326    0.47
327    0.15
328    0.32
329    0.36
Length: 330, dtype: float64

In [29]:
diar_df['end'] - diar_df['start']
# diar_df.head(3)

0     0.470812
1     3.842437
2     0.418500
3     8.570812
4     1.866375
5     3.700688
6     2.274750
7     0.484312
8     0.642937
9     4.048313
10    1.247062
11    3.543750
12    4.826250
13    2.873813
14    0.526500
15    1.969313
16    1.837688
17    4.574813
18    1.517063
19    1.064812
20    0.592312
21    5.729063
22    7.448625
23    5.383125
24    1.687500
25    5.789813
26    0.345937
27    0.889313
28    4.773938
29    2.892375
30    3.403688
31    4.829625
32    5.703750
33    4.316625
34    2.001375
dtype: float64

In [9]:
df.head(3)

In [31]:
words_df['end'] - words_df['start']

0      0.42
1      0.11
2      0.35
3      0.17
4      0.32
       ...
325    0.71
326    0.47
327    0.15
328    0.32
329    0.36
Length: 330, dtype: float64

In [32]:
diar_df.head(3)

   Unnamed: 0 label     start       end               Text
0           0     A  0.443844  0.914656  Speaker said this
1           1     B  0.914656  4.757094  Speaker said this
2           2     A  7.210719  7.629219  Speaker said this

In [33]:
words_df['confidence'].mean()

0.9475757575757577

In [34]:
diar_df['Text'] = "Speaker said this"

In [35]:
transcript = []
for i in words_df['text']:
    transcript.append(i)

In [36]:
transcript

['This',
 'is',
 'William,',
 'hey,',
 'again,',
 'London.',
 'This',
 'is',
 'David',
 'Miliband',
 'with',
 'Brexit',
 'in',
 '60',
 'seconds.',
 'The',
 'great',
 'thing',
 'about',
 'last',
 "night's",
 'general',
 'election',
 'debate.',
 'Was',
 'that',
 'the',
 'great',
 'British',
 'public',
 'rumbled',
 'the',
 'weakest',
 'positions',
 'of',
 'all',
 'the',
 'parties.',
 'Boris',
 'Johnson.',
 'They',
 'laughed',
 'when',
 'he',
 'said',
 'that',
 'his',
 'fidelity',
 'to',
 'the',
 'truth',
 'could',
 'know',
 'no',
 'bounds',
 'and',
 'Jeremy',
 'Corbyn',
 'when',
 'he',
 'tried',
 'to',
 'say',
 'he',
 'had',
 'a',
 'clear',
 'policy',
 'on',
 'Brexit,',
 'I',
 'think',
 'that',
 'the',
 'consequence',
 'of',
 'the',
 'debate',
 'will',
 'be',
 'to',
 'leave.',
 'Both',
 'sides',
 'relieved',
 'Johnson',
 "didn't",
 'get',
 'knocked',
 'out',
 'and',
 'Corbin',
 'came',
 'across',
 'according',
 'to',
 'the',
 'poles',
 'as',
 'more',
 'likable.',
 'The',
 'truth',
 'is',
 'that',
 'the',
 'plates',
 "haven't",
 'yet',
 'shifted.',
 'Neither',
 'is',
 'fully',
 'trusted',
 'to',
 'put',
 'it',
 'mildly',
 'neither',
 'party',
 'is',
 'engendering.',
 'Great',
 'enthusiasm',
 'and',
 'the',
 'election',
 'has',
 'not',
 'yet',
 'crystallized',
 'around',
 'a',
 'question',
 "I'm",
 'not',
 'sure',
 'if',
 'it',
 'ever',
 'will.',
 'Because',
 'in',
 'the',
 'end,',
 'a',
 'general',
 'election',
 'is',
 'not',
 'the',
 'right',
 'way',
 'to',
 'resolve',
 'the',
 'Brexit',
 'issue',
 "there's",
 'too',
 'much',
 'else',
 'going',
 'on.',
 'But',
 'at',
 'the',
 'moment',
 'the',
 'conservatives',
 'are',
 'in',
 'the',
 'lead.',
 'But',
 "it's",
 'not',
 'over.',
 'The',
 'question',
 'is',
 'how',
 'did',
 'the',
 'first',
 'election',
 'debate',
 'go',
 'between',
 'Boris',
 'Johnson',
 'and',
 'Jeremy',
 'Corbyn?',
 'Well,',
 'it',
 'went',
 'it',
 'happened.',
 'Both',
 'of',
 'them',
 'will',
 'be',
 'relieved',
 'about',
 'it',
 'that',
 'they',
 "didn't",
 'do',
 'anything',
 'wrong.',
 'But',
 'is',
 'it',
 'an',
 'event',
 'that',
 'will',
 'have',
 'changed',
 'the',
 'course',
 'of',
 'this',
 'election',
 'so',
 'far',
 'in',
 'which',
 'the',
 'conservatives',
 'have',
 'solidified',
 'their',
 'lead',
 'with',
 'voters',
 'moving',
 'from',
 'the',
 'Brexit',
 'art',
 'to',
 'them.',
 'So',
 'it',
 'seems',
 'will',
 'it',
 'have',
 'done',
 'that?',
 'Probably',
 'not',
 'it',
 "isn't",
 'a',
 'game',
 'changer',
 'in',
 'the',
 'election,',
 'and',
 'so',
 'now',
 'the',
 'next',
 'question',
 'is',
 'going',
 'to',
 'be',
 'as',
 'the',
 'party',
 'manifestos.',
 'Come',
 'out',
 'over',
 'the',
 'next',
 'week.',
 'Is',
 'there',
 'something',
 'in',
 'those',
 'that',
 'changes',
 'the',
 'course',
 'of',
 'the',
 'election.',
 'Last',
 'time',
 'there',
 'was',
 'for',
 'the',
 'conservatives.',
 'They',
 'blew',
 'up',
 'their',
 'own',
 'campaign',
 'with',
 'their',
 'manifesto.',
 'Everybody',
 'on',
 'the',
 'conservative',
 'side',
 'will',
 'be',
 'hoping',
 'the',
 'that',
 "doesn't",
 'happen',
 'again',
 "that's",
 'Brexit',
 'in',
 '60',
 'seconds.']